version: '3'

# network yang digunakan oleh semua service
networks:
  my_network:
    driver: bridge

services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static
      - ./media:/app/media
      - ./static_collected:/app/static_collected

    depends_on:
      - web
    networks:
        - my_network

  web:
    build: .
    volumes:
      - .:/app
    expose:
      - "8000"
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    networks:
        - my_network

  db:
    image: mysql:latest
    environment:

      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      #- ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
        - my_network
    ports:
      - "3307:3306"

volumes:
  mysql_data: