<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Item</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

      <style>
          .navbar {
            margin-bottom: 20px; /* Menambah jarak bawah pada navigasi bar */
        }
        .img-container {
            width: 300px; /* Atur ukuran yang Anda inginkan */
            height: 300px; /* Atur ukuran yang Anda inginkan */
            overflow: hidden;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
        }

        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Diteksi</a>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Detail Item: {{ item.nomor_inventaris }}</h1>

        <div class="row mt-4">
            <div class="col-md-6 ">
                <h2>Gambar Watermark</h2>
                <div class="img-container center-block  ">
                    <a href="{{ item.gambar_watermark.url }}" data-lightbox="gambar-watermark" data-title="Gambar Watermark">
                        <img src="{{ item.gambar_watermark.url }}" alt="Watermark">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Gambar Countermark</h2>
                <div class="img-container">
                    <img src="{{ item.gambar_countermark.url }}" alt="Countermark">
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Jarak Garis</h2>
                <div class="img-container">
                    <img src="{{ item.jarak_garis.url }}" alt="Jarak Garis">
                </div>
            </div>
            <div class="col-md-6">
                <h2>Lembar Kertas</h2>
                <div class="img-container">
                    <img src="{{ item.lembar_kertas.url }}" alt="Lembar Kertas" >
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Ukuran Countermark</h2>
                <div class="img-container">
                <img src="{{ item.ukuran_countermark.url }}" alt="Ukuran Countermark" >
                </div>
            </div>
            <div class="col-md-6">
                <h2>Ukuran Watermark</h2>
                <div class="img-container">
                <img src="{{ item.ukuran_watermark.url }}" alt="Ukuran Watermark" >
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        });
    </script>

</body>
</html>
