<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Item</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

      <style>
          .navbar {
            margin-bottom: 20px; /* Menambah jarak bawah pada navigasi bar */
        }
        .img-container {
            width: 300px; /* Atur ukuran yang Anda inginkan */
            height: 300px; /* Atur ukuran yang Anda inginkan */
            overflow: hidden;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
        }

        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>

    <div class="container mt-4">
        <h2 class="text-leftr">Detail Khazanah {{ item.khazanah }} Nomor {{ item.nomor_inventaris }}</h2>
        <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0"   width="100%">
        <tbody>
            <tr>
                <td>Khazanah</td>
                <td>{{ item.khazanah }}</td>
            </tr>
            <tr>
                <td>Nomor Inventaris</td>
                <td>{{ item.nomor_inventaris }}</td>
            </tr>
            <tr>
                <td>Lokasi Penggunaan</td>
                <td>{{ item.lokasi_penggunaan }}</td>
            </tr>
            <tr>
                <td>Kurun Waktu</td>
                <td><span id="bulanKurunWaktu">{{ item.bulan_kurun_waktu }}</span> {{ item.tahun_kurun_waktu }}</td>
            </tr>
            <tr>
                <td>Kurun Waktu Arsip</td>
                <td>{{ item.kurun_waktu_arsip }}</td>
            </tr>
            <tr>
                <td>Jenis Kertas</td>
                <td>{{ item.jenis_kertas }}</td>
            </tr>
            <tr>
                <td>Waktu Produksi Kertas</td>
                <td>{{ item.waktu_produksi_kertas }}</td>
            </tr>
            <tr>
                <td>Kondisi Fisik Kertas</td>
                <td>{{ item.kondisi_fisik_kertas }}</td>
            </tr>
            <tr>
                <td>Panjang Kertas (mm)</td>
                <td>{{ item.panjang_kertas }}</td>
            </tr>
            <tr>
                <td>Lebar Kertas (mm)</td>
                <td>{{ item.lebar_kertas }}</td>
            </tr>
            <tr>
                <td>Tebal Kertas (mm)</td>
                <td>{{ item.ketebalan_kertas }}</td>
            </tr>
            <tr>
                <td>Warna Kertas</td>
                <td>{{ item.warna_kertas }}</td>
            </tr>
            <tr>
                <td>Gramatur Kertas (gr)</td>
                <td>{{ item.gramatur_kertas }}</td>
            </tr>
            <tr>
                <td>Tingkat Keasaman</td>
                <td>{{ item.tingkat_keasaman }}</td>
            </tr>
            <tr>
                <td>Jarak Antara Kolom Garis</td>
                <td>{{ item.jarak_antara_kolom_garis }}</td>
            </tr>
            <tr>
                <td>Motif Watermark</td>
                <td>{{ item.motif_watermark }}</td>
            </tr>
            <tr>
                <td>Posisi Watermark</td>
                <td>{{ item.posisi_watermark }}</td>
            </tr>
            <tr>
                <td>Panjang Watermark (mm)</td>
                <td>{{ item.panjang_watermark }}</td>
            </tr>
            <tr>
                <td>Lebar Watermark (mm)</td>
                <td>{{ item.lebar_watermark }}</td>
            </tr>
            <tr>
                <td>Motif Countermark</td>
                <td>{{ item.motif_countermark }}</td>
            </tr>
            <tr>
                <td>Posisi Countermark</td>
                <td>{{ item.posisi_countermark }}</td>
            </tr>
            <tr>
                <td>Panjang Countermark (mm)</td>
                <td>{{ item.panjang_countermark }}</td>
            </tr>
            <tr>
                <td>Lebar Countermark (mm)</td>
                <td>{{ item.lebar_countermark }}</td>
            </tr>
            <tr>
                <td>Pabrik Kertas</td>
                <td>{{ item.pabrik_kertas }}</td>
            </tr>
        </tbody>
    </table>

        <div class="row mt-4">
            <div class="col-md-6 ">
                <h2>Gambar Watermark</h2>
                <div class="img-container center-block  ">
                    <a href="{{ item.gambar_watermark.url }}" data-lightbox="gambar-watermark" data-title="Gambar Watermark">
                        <img src="{{ item.gambar_watermark.url }}" alt="Watermark">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Gambar Countermark</h2>
                <div class="img-container">
                    <img src="{{ item.gambar_countermark.url }}" alt="Countermark">
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Jarak Garis</h2>
                <div class="img-container">
                    <img src="{{ item.jarak_garis.url }}" alt="Jarak Garis">
                </div>
            </div>
            <div class="col-md-6">
                <h2>Lembar Kertas</h2>
                <div class="img-container">
                    <img src="{{ item.lembar_kertas.url }}" alt="Lembar Kertas" >
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Ukuran Countermark</h2>
                <div class="img-container">
                <img src="{{ item.ukuran_countermark.url }}" alt="Ukuran Countermark" >
                </div>
            </div>
            <div class="col-md-6">
                <h2>Ukuran Watermark</h2>
                <div class="img-container">
                <img src="{{ item.ukuran_watermark.url }}" alt="Ukuran Watermark" >
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        });

        document.addEventListener("DOMContentLoaded", function () {
            const bulanKurunWaktuElement = document.getElementById("bulanKurunWaktu");
            const numericMonth = parseInt(bulanKurunWaktuElement.textContent);

            // Array to map numeric months to their names
            const monthNames = [
                "Januari", "Februari", "Maret", "April", "Mei", "Juni",
                "Juli", "Agustus", "September", "Oktober", "November", "Desember"
            ];

            // Check if numericMonth is within a valid range
            if (numericMonth >= 1 && numericMonth <= 12) {
                const monthName = monthNames[numericMonth - 1]; // Adjust for 0-based array index
                bulanKurunWaktuElement.textContent = monthName;
            } else {
                bulanKurunWaktuElement.textContent = "Bulan Tidak Valid";
            }
        });
</script>

</body>
</html>
